<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title><%= @item[:title] %> - Flattr Developers</title>

  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/syntax.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <div class="container">
    <h1><a href="/">Flattr Developer Platform</a></h1>

    <ul class="nav">
      <li>
        <a href="/api">REST API</a>
        <ul>
          <li>
            <span>Resources</span>
            <ul>
              <li><a href="/api/resources/flattrs">Flattrs</a></li>
              <li><a href="/api/resources/things">Things</a></li>
              <li><a href="/api/resources/users">Users</a></li>
              <li><a href="/api/resources/activities">Activities</a></li>
              <li><a href="/api/resources/categories">Categories</a></li>
              <li><a href="/api/resources/languages">Languages</a></li>
            </ul>
          </li>
          <li><a href="/api/changelog">Changelog</a></li>
          <li><a href="/api/libraries">Libraries</a></li>
          <li><a href="/api/policy">Policy</a></li>
        </ul>
      </li>
      <li><a href="/button">Embedded buttons</a></li>
      <li><a href="/auto-submit">Auto-submit URL</a></li>
      <li><a href="/feed">Flattr in feeds</a></li>
      <li><a href="/partner">Partner Site Integration</a></li>
      <li><a href="/api/questions">Questions</a></li>

    </ul>

    <div class="page">
      <div class="header">
        <h2><%= @item[:title] %></h2>
        <div class="subtitle"><%= @item[:subtitle] %></div>
      </div>
      <%= yield %>
    </div>
    <address>Visit <a href="http://flattr.com/">Flattr.com</a> to learn more about Flattr.</address>

  </div>

  <script src="/js/ender.js"></script>
  <% if @item.identifier == "/api/questions/" %>
    <script type="text/javascript">
      $.domReady(function() {
        $.ajax({
          url: 'http://api.stackoverflow.com/1.1/search?tagged=flattr&pagesize=5&jsonp=?', 
          type: 'jsonp',
          jsonpCallback: "jsonp",
          success: function( resp ) {
            for(var i=0;i<resp.questions.length;i=i+1) {
            $('#questions_list')
            .append('<div class="question"><a target="_blank" href="http://stackoverflow.com'+resp.questions[i].question_answers_url+'">'+resp.questions[i].title+'</a><br/><span class="light"> asked by <a href="http://stackoverflow.com/users/'+resp.questions[i].owner.user_id+'" target="_blank">'+resp.questions[i].owner.display_name+'</a></span></div>');
            }
          }
        });
      });
    </script>
  <% end %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13236450-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
